.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding-top: 3rem;
}
.row {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  max-width: 70rem;
  position: relative;
}
.artist {
  flex: 1 1 0;
  display: flex;
  justify-content: center;
}
.addAlbum {
  flex: 1 1 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.artistNameWrapper {
  max-width: 70rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: fit-content;
  padding: 2rem 1.5rem;
  border-radius: 1rem;
}
.artistName {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.artistImageWrapper {
  display: flex;
  height: 12rem;

  width: 12rem;
}
.artistImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.albums {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 70rem;
}
.subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}
/* Grid that has all albums */
.albumsWrapper {
  display: flex;
  gap: 1rem;
}
.albumWrapper {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.albumImageWrapper {
  height: 12rem;
  width: 12rem;
  margin-bottom: 1rem;
}
.albumImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.albumName {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}
