:root {
  --primary: #bb39fa;
  --tertiary: #efecf0;
  --white: #ffffff;
  --dark: #2c2c2c;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--white);
  background: var(--white);
}

a {
  text-decoration: none;
  color: var(--white);
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-weight: 600;
}

/* Header style */
header {
  background-color: var(--primary);
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Homepage style */
.homepage-wrapper {
  display: flex;
  justify-content: center;
  gap: 10rem;
  padding-top: 3rem;
}
.query-mutation-wrapper {
  background-color: var(--dark);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 4rem 3rem;
  max-width: fit-content;
  height: fit-content;
}

.link-li {
  margin-bottom: 1rem;
}

.page-link {
  font-size: 1rem;
}

.page-link:hover {
  color: var(--tertiary);
  transition-duration: 200ms;
}
